@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  #projects {
    height: fit-content;
  } 
}

@media screen and (max-width: 1200px) {
  #experience,
  #about {
    height: fit-content;
  } 
  .section-container {
    flex-wrap: wrap;
  }
  #profile {
    flex-wrap: wrap;
  }
  .photo {
    width: auto;
    height: 300px;
    justify-content: center;
  }
  .about-pic-container {
    width: auto;
    height: 400px;
    justify-content: center;
  }
  /* .section-container {
    display: block;
  } */
  /* #contact {
    height: fit-content;
  }  */

  /* #desktop-nav {
    display: none;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }

  .about-containers {
    margin-top: 0;
  } */
}

@media screen and (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .links {
    margin-left: auto;
    font-size: 1.1rem;
    gap: 0.4rem;
    flex-wrap: wrap;
  }
  .section-container {
    padding: 1rem 1.5rem;
  }
  .photo {
    width: auto;
    height: 60vw;
    justify-content: center;
  }
  .about-pic-container {
    width: auto;
    height: 60vw;
    justify-content: center;
  }
  #profile {
    gap: 1.5rem;
  }

  .text-container {
    text-align: center;
  }
  .project-details-container {
    max-width: 80%;
  }
  /* #contact,
  footer {
    height: 40vh;
  }
  .header-container {
    flex-direction: center;
  }
  .links {
    margin-left: auto;
    font-size: 1.25rem;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }

  .photo {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  } */
}