/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
  }

  header {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: black;  /* Blue */
  }

  /* Menu bar */
  .menu-container {
    /* color: #5995DA; */
    background-color: grey;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  .menu {
    color: #fff;
    /* background-color: #D6E9FE; */
    display: flex;
    justify-content: space-around;
    /* border: 1px solid #fff;  */
    width: 900px;
  }
  .menu a {
    color: #fff;
    text-decoration:none;
  }
  .menu a:visited {
    color: #fff;
    text-decoration:none;
  }
  .menu a:hover {
    text-decoration: underline;
  }

  /* Main resume */
  .main-container {
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    
  }
  .side-bar {
    background-color: grey;
    width: 17%;
    border: 1px solid #fff;    
    display: flex;
    justify-content: center;
  }
  .contact {
    width: 80%;
    overflow-wrap: break-word;
    border: 1px solid #fff;    
  }

  .resume {
    width: 75%; 
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
  }
  
  section {
    padding: 20px;
  }
  
  .photo img {
    width: 80%;
    height: auto;
    display:block;
  }